* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Header Section Styles*/
.header-container {
  max-width: 1440px;
  height: 1079px;
  background: #1b3936;
  background-image: url("/assets/images/banner-bg.png");
  background-position: center center;
  background-blend-mode: overlay;
  position: relative;
  overflow: hidden;
}
.line-container {
  width: 1188px;
  height: 1188px;
  margin: 0 auto;
  position: relative;
}
.nav-container {
  width: 1188px;
  position: absolute;
  height: 35px;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.left-items {
  display: flex;
}
.left-items li {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin-right: 54px;
  font-size: 18px;
}
.middle-items {
  display: flex;
  width: auto;
  align-items: center;
}
.middle-items img {
  width: 29.949px;
  height: 32.802px;
  color: #75ff69;
  margin-right: 5px;
}
.middle-items h1 {
  font-size: 28.523px;
  font-style: normal;
  font-weight: 400;
  color: #75ff69;
}
.right-items {
  display: flex;
}
.right-items li {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin-left: 54px;
  font-size: 18px;
}
.line-container img {
  width: 100%;
  height: 100%;
}
.mid-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.title-container {
  width: 879px;
  height: 162px;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.second-title-container {
  width: 879px;
  height: 162px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.third-title-container {
  width: 879px;
  height: 162px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-container {
  width: 570px;
  height: 22px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-container p {
  color: #fff;
  text-align: center;
  font-family: "Boska", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.span {
  color: #fff;
  font-family: "Boska", serif;
  font-size: 32px;
  font-style: medium;
  font-weight: 700;
  position: absolute;
  top: 62%;
  left: 50%;
}
.first-title {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-size: 262px;
  font-weight: 400;
  font-family: "Boska", serif;
  line-height: 161.765px;
  text-transform: capitalize;
}
.second-title {
  color: #75ff69;
  text-align: center;
  font-style: italic;
  font-size: 262px;
  font-weight: 400;
  font-family: "Boska", serif;
  line-height: 161.765px;
  text-transform: capitalize;
}
.third-title {
  color: #fff;
  text-align: center;
  font-style: medium;
  font-size: 262px;
  font-weight: 400;
  font-family: "Boska", serif;
  line-height: 161.765px;
  text-transform: capitalize;
}
.svg-container {
  position: absolute;
  right: 5%;
  top: 51.7%;
}
.circle {
  width: 69px;
  height: 69px;
  background-color: #75ff69;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  position: absolute;
  right: 5.4%;
  top: 52.3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.vector {
  width: 69.7px;
  height: 69.7px;
  background-color: #75ff69;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  position: absolute;
  right: 5.4%;
  top: 52.3%;
  cursor: pointer;
}
/* Header Section Styles Ends Here*/
/* Second Section Styles starts Here*/
.main-section {
}
.second-section-container {
  max-width: 1440px;
  height: 842px;
  min-height: 842px;
  display: flex;
  background-color: #f9f9f9;
}
.left-content {
  height: 100%;
  width: 50%;
}
.right-content {
  height: 100%;
  width: 50%;
}
.cirle-with-icon {
  width: 203px;
  height: 276.08px;
  border-radius: 49%;
  background-color: #75ff69;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 105px;
  margin-top: 105px;
  position: relative;
  margin-bottom: 41px;
}

.vector-image-12 {
  position: absolute;
  left: 50%;
  bottom: 65%;
}
.vector-image-8 {
  position: absolute;
  left: 43%;
  bottom: 79%;
}
.vector-image-7 {
  position: absolute;
  left: 43%;
  bottom: 75%;
}
.vector-image-6 {
  position: absolute;
  left: 43%;
  bottom: 71%;
}
.vector-image-1 {
  position: absolute;
  left: 20%;
  bottom: 40%;
}
.vector-image-2 {
  position: absolute;
  left: 80%;
  bottom: 40%;
}
.vector-image-99 {
  position: absolute;
  left: 13%;
  bottom: 57%;
}
.vector-image-98 {
  position: absolute;
  left: 13%;
  bottom: 53%;
}
.vector-image-97 {
  position: absolute;
  left: 13%;
  bottom: 49%;
}
.vector-image-96 {
  position: absolute;
  left: 13%;
  bottom: 45%;
}
.vector-image-95 {
  position: absolute;
  left: 73%;
  bottom: 57%;
}
.vector-image-94 {
  position: absolute;
  left: 73%;
  bottom: 53%;
}
.vector-image-93 {
  position: absolute;
  left: 73%;
  bottom: 49%;
}
.vector-image-92 {
  position: absolute;
  left: 73%;
  bottom: 45%;
}
.letter-g {
  width: 81px;
  height: 108px;
  color: #1b3936;
  text-align: center;
  font-family: "Boska", serif;
  font-size: 151.773px;
  font-style: italic;
  font-weight: 400;
}
.text-details {
  width: 609px;
  height: 128px;
  margin-left: 103px;
  text-align: left;
}
.text-details p {
  color: #1b3936;
  font-family: "Switzer Variable";
  font-size: 20px;
  font-style: normal;
}
.right-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-div {
  width: 252px;
  height: 130px;
  margin-top: 119px;
  position: relative;
}
.first-div h1 {
  color: #1b3936;
  font-family: "Boska", serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.first-div p {
  font-size: 25px;
  font-weight: 700;
}
.m2-1 {
  position: absolute;
  left: 105%;
  top: 90%;
}
.second-div {
  width: 252px;
  height: 130px;
  margin-top: 119px;
  position: relative;
}
.second-div h1 {
  color: #1b3936;
  font-family: "Boska", serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.second-div p {
  font-size: 25px;
  font-weight: 700;
}
.m2-2 {
  position: absolute;
  left: 60%;
  top: 90%;
}
.third-div {
  width: 252px;
  height: 130px;
  margin-top: 119px;
  position: relative;
}
.third-div h1 {
  color: #1b3936;
  font-family: "Boska", serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.third-div p {
  font-size: 20px;
  font-weight: 700;
}
.m2-3 {
  position: absolute;
  left: 40%;
  top: 80%;
}
/* Second Section Styles Ends Here*/
/* cover Image Section Styles starts Here*/
.cover-image-container {
  max-width: 1440px;
  height: 850px;
  background-image: url("/assets/images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(1.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.cover-image-container img {
  width: 100%;
  height: 100%;
}
/* cover Image Section Styles ends Here*/
/* About Us Section Styles starts Here*/
.about-us {
  position: relative;
  max-width: 1440px;
  height: 1701px;
  background: #1b3936;
  background-image: url("/assets/images/banner-bg.png");
  background-position: center center;
  background-blend-mode: overlay;
}
.about-us-container {
  display: flex;
}
.left-about-us {
  height: 100%;
  width: 50%;
}
.right-about-us {
  height: 100%;
  width: 50%;
}
.first-image {
  width: 401px;
  height: 342px;
  margin-top: 321px;
  margin-left: 38px;
  margin-bottom: 285px;
}
.first-image img {
  width: 100%;
  height: 100%;
}
.second-image {
  width: 401px;
  height: 531px;
  margin-left: 149px;
}
.second-image img {
  width: 100%;
  height: 100%;
}
.third-image {
  width: 401px;
  height: 526px;
  margin-top: 76px;
  margin-right: 61px;
  margin-left: 258px;
  margin-bottom: 378px;
}
.third-image img {
  width: 100%;
  height: 100%;
}
.fourth-image {
  width: 401px;
  height: 531px;
  margin-left: 162px;
}
.fourth-image img {
  width: 100%;
  height: 100%;
}
.about-us-text-container {
  width: 1083;
  height: 880;
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
}
.about-us-text-container h1 {
  color: #678784;
  font-family: "Boska", serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
}
.highlight {
  color: #fff;
  font-family: "Boska", serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 83%;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.about-us-watermark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
}
.about-us-watermark p {
  font-family: "Switzer Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #75ff69;
}
/* About Us Section Styles ends Here*/
/* Unique Room Section Style starts here */
.unique-room-container {
  max-width: 1440px;
  height: 1496px;
  margin-top: 100px;
}
.unique-section-title {
  width: 784px;
  height: 196px;
}
.unique-room-container h1 {
  font-family: "Boska", serif;
  font-size: 40px;
  font-weight: 400;
  font-style: medium;
  letter-spacing: 0%;
  margin-left: 125px;
  text-align: left;
  color: #1b3936;
}

.slider {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-left: 21px;
}
.slide1 {
  width: 378px;
  height: 505.68px;
  margin-top: 136px;
  position: relative;
}
.slide1 img {
  width: 100%;
  height: 100%;
}
.slide2 {
  width: 582px;
  height: 778.316px;
  position: relative;
}
.slide2 img {
  width: 100%;
  height: 100%;
}
.slide3 {
  width: 378px;
  height: 505.68px;
  margin-top: 136px;
  position: relative;
}
.slide3 img {
  width: 100%;
  height: 100%;
}
.majestic {
  color: #f9f9f9;
  text-align: justify;
  font-family: "Boska", serif;
  font-size: 32.112px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.majestic-mountain {
  color: #f9f9f9;
  text-align: justify;
  font-family: "Boska", serif;
  font-size: 32.112px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.text-slider-logo {
  position: absolute;
  bottom: 15%;
  left: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}
.text-slider-logo h2 {
  color: #f9f9f9;
  font-family: "Boska", serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.cabin-text {
  color: #fff;
  font-family: "Boska", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  bottom: 8%;
  left: 7%;
}

/* Unique Room Section Style ends here */
