* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Header Section Styles*/
.header-container {
  max-width: 1440px;
  height: 1079px;
  background: #1b3936;
  background-image: url("/assets/images/banner-bg.png");
  background-position: center center;
  background-blend-mode: overlay;
  position: relative;
  overflow: hidden;
}
.line-container {
  width: 1188px;
  height: 1188px;
  margin: 0 auto;
  position: relative;
}
.nav-container {
  width: 1188px;
  position: absolute;
  height: 35px;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.left-items {
  display: flex;
}
.left-items li {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin-right: 54px;
  font-size: 18px;
}
.middle-items {
  display: flex;
  width: auto;
  align-items: center;
}
.middle-items img {
  width: 29.949px;
  height: 32.802px;
  color: #75ff69;
  margin-right: 5px;
}
.middle-items h1 {
  font-size: 28.523px;
  font-style: normal;
  font-weight: 400;
  color: #75ff69;
}
.right-items {
  display: flex;
}
.right-items li {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin-left: 54px;
  font-size: 18px;
}
.line-container img {
  width: 100%;
  height: 100%;
}
.mid-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.title-container {
  width: 879px;
  height: 162px;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.second-title-container {
  width: 879px;
  height: 162px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.third-title-container {
  width: 879px;
  height: 162px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-container {
  width: 570px;
  height: 22px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-container p {
  color: #fff;
  text-align: center;
  font-family: "Boska", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.span {
  color: #fff;
  font-family: "Boska", serif;
  font-size: 32px;
  font-style: medium;
  font-weight: 700;
  position: absolute;
  top: 62%;
  left: 50%;
}
.first-title {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-size: 262px;
  font-weight: 400;
  font-family: "Boska", serif;
  line-height: 161.765px;
  text-transform: capitalize;
}
.second-title {
  color: #75ff69;
  text-align: center;
  font-style: italic;
  font-size: 262px;
  font-weight: 400;
  font-family: "Boska", serif;
  line-height: 161.765px;
  text-transform: capitalize;
}
.third-title {
  color: #fff;
  text-align: center;
  font-style: medium;
  font-size: 262px;
  font-weight: 400;
  font-family: "Boska", serif;
  line-height: 161.765px;
  text-transform: capitalize;
}
.svg-container {
  position: absolute;
  right: 5%;
  top: 51.7%;
}
.circle {
  width: 69px;
  height: 69px;
  background-color: #75ff69;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  position: absolute;
  right: 5.4%;
  top: 52.3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.vector {
  width: 69.7px;
  height: 69.7px;
  background-color: #75ff69;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  position: absolute;
  right: 5.4%;
  top: 52.3%;
  cursor: pointer;
}
/* Header Section Styles Ends Here*/
/* Second Section Styles starts Here*/
.main-section {
}
.second-section-container {
  max-width: 1440px;
  height: 842px;
  min-height: 842px;
  display: flex;
  background-color: #f9f9f9;
}
.left-content {
  height: 100%;
  width: 50%;
}
.right-content {
  height: 100%;
  width: 50%;
}
.cirle-with-icon {
  width: 203px;
  height: 276.08px;
  border-radius: 49%;
  background-color: #75ff69;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 105px;
  margin-top: 105px;
  position: relative;
  margin-bottom: 41px;
}

.vector-image-12 {
  position: absolute;
  left: 50%;
  bottom: 65%;
}
.vector-image-8 {
  position: absolute;
  left: 43%;
  bottom: 79%;
}
.vector-image-7 {
  position: absolute;
  left: 43%;
  bottom: 75%;
}
.vector-image-6 {
  position: absolute;
  left: 43%;
  bottom: 71%;
}
.vector-image-1 {
  position: absolute;
  left: 20%;
  bottom: 40%;
}
.vector-image-2 {
  position: absolute;
  left: 80%;
  bottom: 40%;
}
.vector-image-99 {
  position: absolute;
  left: 13%;
  bottom: 57%;
}
.vector-image-98 {
  position: absolute;
  left: 13%;
  bottom: 53%;
}
.vector-image-97 {
  position: absolute;
  left: 13%;
  bottom: 49%;
}
.vector-image-96 {
  position: absolute;
  left: 13%;
  bottom: 45%;
}
.vector-image-95 {
  position: absolute;
  left: 73%;
  bottom: 57%;
}
.vector-image-94 {
  position: absolute;
  left: 73%;
  bottom: 53%;
}
.vector-image-93 {
  position: absolute;
  left: 73%;
  bottom: 49%;
}
.vector-image-92 {
  position: absolute;
  left: 73%;
  bottom: 45%;
}
.letter-g {
  width: 81px;
  height: 108px;
  color: #1b3936;
  text-align: center;
  font-family: "Boska", serif;
  font-size: 151.773px;
  font-style: italic;
  font-weight: 400;
}
.text-details {
  width: 609px;
  height: 128px;
  margin-left: 103px;
  text-align: left;
}
.text-details p {
  color: #1b3936;
  font-family: "Switzer Variable";
  font-size: 20px;
  font-style: normal;
}
.right-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-div {
  width: 252px;
  height: 130px;
  margin-top: 119px;
  position: relative;
}
.first-div h1 {
  color: #1b3936;
  font-family: "Boska", serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.first-div p {
  font-size: 25px;
  font-weight: 700;
}
.m2-1 {
  position: absolute;
  left: 105%;
  top: 90%;
}
.second-div {
  width: 252px;
  height: 130px;
  margin-top: 119px;
  position: relative;
}
.second-div h1 {
  color: #1b3936;
  font-family: "Boska", serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.second-div p {
  font-size: 25px;
  font-weight: 700;
}
.m2-2 {
  position: absolute;
  left: 60%;
  top: 90%;
}
.third-div {
  width: 252px;
  height: 130px;
  margin-top: 119px;
  position: relative;
}
.third-div h1 {
  color: #1b3936;
  font-family: "Boska", serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.third-div p {
  font-size: 20px;
  font-weight: 700;
}
.m2-3 {
  position: absolute;
  left: 40%;
  top: 80%;
}
/* Second Section Styles Ends Here*/
.cover-image-container {
  max-width: 1440px;
  height: 850px;
  background-image: url("/assets/images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(1.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.cover-image-container img {
  width: 100%;
  height: 100%;
}
